<section>
    <!-- search container -->
    <div>
        <h2>Search HealthFULL</h2>
        <label for="keyword">Keyword:</label>
        <input type="text" id="keyword" name="keyword" >

        <label for="diet">Diet:</label>
        <input type="text" id="keyword" name="title" >

        <label for="diet">plhd</label>
        <input type="text" id="keyword" name="title" >

        <label for="diet">plhd</label>
        <input type="text" id="keyword" name="title" >

        <label for="diet">plhd</label>
        <input type="text" id="keyword" name="title" >


        <button id="search">Search</button>
    </div>

    <!-- movie suggestions -->
    <div id="posterBox"></div>
</section>