<!DOCTYPE html>
<html lang='en'>

    <head>
        <meta charset='UTF-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        
        <!-- description is displayed in SERP snippet -->
        <meta name="description" content="">

        {{!-- ADD LINKS TO STYLESHEETS HERE --}}

        <title>HealthFULL</title>
    </head>

    <body>
        <div>
        <header>
            <h1>HealthFULL</h1>
            {{nav-bar}}
        </header>
        <main>
            {{{body}}}
        </main>
        </div>
    </body>

</html>