<!DOCTYPE html>
<html lang='en'>

    <head>
        <meta charset='UTF-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        
        <!-- description is displayed in SERP snippet -->
        <meta name="description" content="">

        {{!-- ADD LINKS TO STYLESHEETS HERE --}}
        <link rel="stylesheet" href="/css/output.css">

        <title>HealthFULL</title>
    </head>

    <body class="bg-gray-100">
        <div>
        <header class="bg-white p-4 shadow-md">
            <div class="container mx-auto">
                <h1 class="text-3xl font-bold text-green-500 rounded-lg px-3 py-1">HealthFULL</h1>
                {{!-- {{nav-bar}} --}}
            </div>
        </header>
        <main class="container mx-auto py-8">
            {{{body}}}
        </main>
        </div>
        {{!-- renders logout script only if logged in --}}
        {{#if logged_in}}
        <script src="/js/logout.js"></script>
        {{/if}}
    </body>

</html>