<section>

    <!-- search container -->
    <div>
        <h2>Search HealthFULL</h2>
        <form action="/" >
            <label for="keyword">Keyword:</label>
            <input type="text" id="keyword" name="keyword" >

            <h3>Diet:</h3>
            <label for="balanced">balanced</label>
            <input type="radio" id="balanced" name="diet" >

            <label for="high-fiber">high-fiber</label>
            <input type="radio" id="high-fiber" name="diet" >

            <label for="high-protein">high-protein</label>
            <input type="radio" id="high-protein" name="diet" >

            <label for="low-carb">low-carb</label>
            <input type="radio" id="low-carb" name="diet" >

            <label for="low-fat">low-fat</label>
            <input type="radio" id="low-fat" name="diet" >

            <label for="low-sodium">low-sodium</label>
            <input type="radio" id="low-sodium" name="diet" >

            {{!-- <input type="submit" value="Search"> --}}
            <button id="search" type="submit">Search</button>

        </form>

    </div>

{{!-- Search results container --}}
    <div></div>

{{!-- List of Saved Recipes --}}
    <div>
        <h2>My Recipes</h2>
        <!-- For each recipe, the saved-recipes partial is used to render the recipe data -->
        {{#each UserRecipe as |recipe|}}
        {{> saved-recipes}}
        {{/each}}
    </div>

    <button id="logout">Log Out</button>

</section>