<section>

    <!-- search container -->
    <div>
        <h2>Search HealthFULL</h2>
        <label for="keyword">Keyword:</label>
        <input type="text" id="keyword" name="keyword" >

        <h3>Diet:</h3>
        <label for="diet">balanced</label>
        <input type="radio" id="diet" name="diet" >

        <label for="diet">high-fiber</label>
        <input type="radio" id="keyword" name="title" >

        <label for="diet">high-protein</label>
        <input type="radio" id="keyword" name="title" >

        <label for="diet">low-carb</label>
        <input type="radio" id="keyword" name="title" >

        <label for="diet">low-fat</label>
        <input type="radio" id="keyword" name="title" >

        <label for="diet">low-sodium</label>
        <input type="radio" id="keyword" name="title" >

        <button id="search">Search</button>
    </div>

</section>